/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'); */

* {
    padding: 0;
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;    /* color: #7b7a7a; */
    color: rgb(83, 138, 9);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: #7b7a7a; */
    color: rgb(83, 138, 9);

}

.navbar-brand img {
    max-width: 200px;
    width: 100%;
    max-height: 50px;
}

.nav-link {
    color: rgb(83, 138, 9) !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    font-weight: 700;
}

.header {
    background: url(../img/recycling-materials-we-buy-3.jpg);
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header img {
    max-width: 70px;
}

.header h1 {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}
body {
    background-image: url(../img/mr-white-pattern.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: 560px;
}

.navbar-light .navbar-nav .active>.nav-link {
    text-decoration: underline;
}

.bin img {
    max-width: 200px;
}

.map {
    width: 100%;
    height: 400px;
}

footer {
    background: #ededed;
    border-top: 1px solid #aaaaaa;
}

@media (max-width: 450px) {
    .navbar-brand img {
        max-width: 100px;
    }
}